#welcome{
    position: relative;
    right: 180px;
}

#links{
    position: relative;
    left: 400px;
    
}

#subscribe{
    position: relative;
    left: 150px;
}

#map{
    position: relative;
    right: 250px ;
}

#bridge{
    position: relative;
    top: 25px;
    right: 250px ;
}

#graph{
    position: relative;
    right: 250px ;
    top: 50px;
}

#morePages{
    position: relative;
    top: 50px;
    width: 200px;
    height: 40px;
}

#linje{
    position: relative;
    top: 50px;
}

#lastline{
    position: relative;
    top: 30;
    right: 250px;
}

#box{
    position: relative;
    left: 460px;
    bottom: 275px;
}

#box1{
    position: relative;
    left: 200px;
    bottom: 175px;
}

#box2{
    position: relative;
    right: 60px;
    bottom: 75px;
}

